@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

nav {
  z-index: 10;
}

nav.scrolled {
  @apply shadow-xl bg-white;
  border-bottom: 0px;
}

.hero-section {
  @apply bg-[url('/assets/home-shape.png')] bg-cover bg-center self-center relative;
  height: 980px;
}

.typed-cursor {
  font-size: 35px;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

.full-shadow {
  box-shadow: -0.0625rem 0 0.625rem 0 rgb(0 0 0 / 7%),
    0.3125rem 1.25rem 2.5rem 0 rgb(0 0 0 / 4%) !important;
}

.mobileMenu {
  display: flex;
  justify-content: space-between;
  height: 48px;
  text-align: right;
  padding-right: 25px;
}

.mobileMenuList {
  position: fixed;
  top: -120vh;
  height: 120vh;
  width: 100%;
  background: #4680fe;
  transition: all 500ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.mobileMenuClose {
  margin: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 67px;
  margin-left: auto;
}

.mobileMenuClose span {
  margin-right: 10px;
  color: white;
}

.mobileMenuClose label span {
  background: #fff !important;
}
.mobileMenuClose input[type="checkbox"] ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(3px, 0px);
}

.mobileMenuClose input[type="checkbox"] ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.mobileMenuClose input[type="checkbox"] ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(10.5px, -5px) rotatez(45deg);
}

.mobileMenu a {
  padding-left: 20px;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.mobileMenu a span {
  color: #4680fe;
}

.mobileMenu .mobileMenuText {
  margin-right: 10px;
  color: #4680fe;
}

.mobileMenu .active {
  top: 0;
  /* z-index: 10; */
}

.mobileMenuList .contactSection {
  text-align: left;
  background: #101c3d;
  color: white;
  flex-grow: 1;
  padding: 30px;
}

.contactBtn {
  border: 1px solid #4680fe80;
  padding: 10px 26px;
  border-radius: 20px;
  cursor: pointer;
  color: #4680fe;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  text-decoration: none;
}

.mobileMenuItems {
  text-align: left;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0 2rem;
}

.mobileMenuItems li {
  padding: 20px 40px;
  border-bottom: 1px solid white;
}
.mobileMenuItems li:last-child {
  border-bottom: none;
}

.mobileMenuItems li a {
  font-size: 28px;
  color: white;
  text-decoration: none;
}

.mobileMenu label {
  display: flex;
  flex-direction: column;
  width: 30px;
  cursor: pointer;
}

.mobileMenu label span {
  background: #4680fe;
  border-radius: 10px;
  height: 4px;
  margin: 2px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.mobileMenu span:nth-of-type(1) {
  width: 50%;
}

.mobileMenu span:nth-of-type(2) {
  width: 100%;
}

.mobileMenu span:nth-of-type(3) {
  width: 75%;
}

.mobileMenu input[type="checkbox"] {
  display: none;
}

.overlay-work {
  background-image: linear-gradient(#007bff 10%, #161c2d);
  position: absolute;
  transition: all 0.5s ease;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

.content {
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
  bottom: 5%;
  left: 5%;
}

.portfolio-work .icons {
  position: absolute;
  transition: all 0.5s ease;
  right: 0;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-work {
  max-height: 310px;
}

.portfolio-work:hover .overlay-work {
  opacity: 0.85;
}

.portfolio-work:hover .portfolio-image {
  transform: scale(1.1);
  transition: all .5s ease;
}

.portfolio-work:hover .content, .portfolio-work:hover .icons {
  opacity: 1;
}

.portfolio-work .icons .work-icon {
  height: 45px;
  width: 45px;
  line-height: 45px;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-top {
  z-index: 99;
  position: fixed;
  bottom: 70px;
  right: 30px;
  background-color: rgba(0, 123, 255, 0.3) !important;
  border: 1px solid rgba(0, 123, 255, 0.3) !important;
  height: 36px;
  width: 36px;
  line-height: 34px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-to-top .icons {
  transition: all 0.5s ease;
  stroke-width: 2;
  height: 14px;
  width: 14px;
}

.back-to-top:hover {
  background-color: #007bff !important;
  color: white;
  transition: all 0.5s;
  bottom: 73px;
}

.active {
  border-bottom: 2px solid #007bff;
  color: #007bff;
}

.logo.active {
  border: none;
  color: initial;
}
