@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

nav {
  z-index: 10
}

nav.scrolled {
  @apply shadow-xl bg-white;
  border-bottom: 0px;
}

.hero-section {
  @apply bg-[url('/assets/home-shape.png')] bg-cover bg-center self-center relative;
  height: 980px;
}

.typed-cursor{
  font-size: 35px;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

.full-shadow {
  box-shadow: -0.0625rem 0 0.625rem 0 rgb(0 0 0 / 7%),
    0.3125rem 1.25rem 2.5rem 0 rgb(0 0 0 / 4%) !important;
}